*{
  font-family: oxanium,sans-serif;
 
  padding:0;
  margin:0;
  box-sizing: border-box;

}

a{
  position: relative;
  text-decoration: none;
  color:white;
  font-size: 16px;
  align-items: center;

}

a::after{
  
    content: "";
    position: absolute;
    background-color: blue;
    height: 2px;
    width: 0%;
    left: 7px;
    bottom: -8px;
    transition:0.5s;

  
}
a:hover::after{
  width:80%;


}
.c{
  color:#120535;
}
